* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background: #7B241C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #C0392B;
    border-radius: 40px;
    padding: 24px;
    color: #fff;

}

.container h1 {
    font-size: 32px;
}

.container p {

}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.container form label {
    margin: 4px 0 0 0;
}

.container form input {
    display: inline-block;
    margin: 0 0 4px 0;
    width: 100%;
    font-size: 2vw;
    border: none;
    background: #CD6155;
    color: white;
    -moz-appearance: textfield;
    border: 2px solid #641E16;
    text-align: center;
    transition: all 1s ease;
    border-radius: 5px;
}

.container form input::-webkit-outer-spin-button,
.container form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container form input:focus {
    outline: none;
    border: 2px solid #E74C3C;
    background: #F2D7D5;
    color: black;
}

@media screen and (max-width: 576px) {
    .container h1 {
        margin-bottom: 10px;
    }

    .container p {
        font-size: 14px;
    }

    .container {
        padding: 16px;
        border-radius: 20px;
        width: 90%;
    }

    .container form input {
        font-size: 16px;
    }

    .container form label {
        font-size: 14px;
    }

    .container form {
        width: 100%;
    }
}